<h2> Редактировать </h2>

<%= render 'form' %>

<!-- Разметка данного файла будет взяла из файла form, который по умолчанию ищется в текущей
 директории. Если нужно другую диркторию, то указываем путь render 'users/form' -->