<h1> Feed - Лента  </h1>
<div class="">
  <% unless @articles.nil? %>
    <% @articles.each do |article| %>
      <div class="alert-alert-light">

    <h4><%= article.title %></h4>
    <p> <%= article.body %></p>

    <strong><%= image_tag article.image_url if article.image  %></strong>

        <%= link_to "Открыть пост / маршрут не нестроен", "#", class: 'btn btn-primary'  %>
    <%#= link_to "Открыть пост", user_article_path(@user, article), class: 'btn btn-primary' %>
    <%#= link_to "Открыть пост", feed_article_path(current_user), class: 'btn btn-primary' %>
    <hr/>
  </div>

      <% end %>
<% else %>
    <h4> Ваша лента пустая</h4>
  </div>
<% end %>