<h1> Все посты </h1>
<div class="">
<% @articles.each do |article| %>
  <div class="alert-alert-light">


    <h4><%= article.title %></h4>
    <p> <%= article.body %></p>

    <strong><%= image_tag article.image_url if article.image  %></strong>

    <%= link_to "Открыть пост", user_articles_path, class: 'btn btn-primary' %>
    <hr/>
  </div>

<% end %>
</div>
