<h1> <%= @article.title %></h1>
<p>  <%= @article.body %> </p>
<hr/>

<%= link_to "Редактировать", edit_article_path(@article), class: 'btn btn-warning' %>
<%= link_to "Удалить", article_path(@article), method: :delete, data: {confirm:"Удалить?"}, class: 'btn btn-danger' %>
