<% provide(:title, "Все пользователи") %>

<h1> Все пользователи </h1>
  <div class="">
    <% @users.each do |user| %>
      <div class="alert-alert-light">

        <h3> <%= user.username %> </h3>
        <%= link_to "Открыть профиль", user_path(user), class: 'btn btn-primary' %>
        <hr/>
      </div>

    <% end %>
  </div>