<div>
<footer class="footer">
  <small>
    The <a href=""> Demo Instagram Ruby on Rails </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", home_path %></li>
    </ul>
  </nav>
</footer>
</div>